
.Pictures, .Pictures_image_container {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
    align-content: stretch;
}

.Pictures {
    min-height: 100vh;
    min-width: 100vw;

    background: #060a44;
background: linear-gradient(10deg,#060a44 0%, #159486 50%, #007400 100%);
background: -webkit-linear-gradient(10deg,#060a44 0%, #159486 50%, #007400 100%);
background: -moz-linear-gradient(10deg,#060a44 0%, #159486 50%, #007400 100%);

}

.Pictures_body_container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: stretch;

}

.Pictures_body_container {
    width: 70vw;
}

.Pictures_BreedsList_container {
    max-height: 400px;
    overflow-y: scroll;
}
.BreedsList {
    height: 50px;
    width: 200px;
    border: solid black 1px;
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
}

.Pictures_image {
    height: 400px;
    width: 400px;
}

.Pictures_image:hover {
    cursor: pointer;
}

.RateImage {
    height: 100px;
    width: 50vw;
    margin-top: 10px;

    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

button {
    margin: 10px;
}

.ImageInModal {
    height: 200px;
    width: 200px;
}

h4:hover {
    cursor: pointer;
}